# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Terraform
*.tfvars
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# VS Code
.vscode/

# Logs
*.log

# SQLite Database
brightpath.db